body {
  background-color: #FFFFCC;
}

.logo {
  display: table;
  background-color: #D2B3F2;
  position: relative;
  width: 100%;
  height: 100;
}

.texto {
  display: table-cell;
  font-size: 40px;
  float: left;
  margin-top: -30px;
  margin-left: 25px
}

.imagem {
  display: table-cell;
  float: left;
}

img {
  width: 110px;
  right: 80px;
  bottom: 60px;
}

#menu ul{
  display: table;
  margin: 0;
  background-color: #D2B3F2;
  list-style: none;
  float: right;
}

#menu ul li {
  display: table-cell;
}

#menu ul li a {
  padding: 12px 10px;
  display: table-cell;
  bottom: 40px;
  left: 180px;
  color: #000000;
  text-decoration: none;
}

#menu ul li a:hover {
  color: white;
}


