body {
  background-color: #FFFFCC;
}

.logo {
  display: table;
  background-color: #E5C4EF;
  position: relative;
  width: 100%;
  height: 40;
}

.texto {
  display: table-cell;
  font-size: 40px;
  float: left;
  height: 40;
  margin-top: -30px;
  margin-left: 25px
}

.imagem {
  display: table-cell;
  float: left;
  right: -120px;
  bottom: -120px;
  width: 150px;
}

#menu ul{
  display: table;
  margin: 0;
  background-color: #E5C4EF;
  list-style: none;
  float: right;
  bottom: -20px;
  left: -200px;
}

#menu ul li {
  display: table-cell;
}

#menu ul li a {
  padding: 12px 10px;
  display: table-cell;
  color: #000000;
  text-decoration: none;
}

#menu ul li a:hover {
  color: white;
}

.botoes-fotos-animais ul {
  display: table;
  list-style: none;
}

.botoes-fotos-animais ul li {
  display: table-cell;
}

.botoes-fotos-animais ul li a{
  display: table-cell;
  padding: 14px 10px;
  float: right;
}

.botoes-fotos-animais ul li a img{
  display: table-cell;
  border: 3px solid #E5C4EF;
  width: 200px;
  height: 200px;
}

figcaption {
  font-size: 15px;
  display: table-cell;
  caption-side: top;
}

.botoes-fotos-animais ul li a img:hover {
  border: 2px solid #777;
}

.rodape {
  width: 40%;
  float: right;
  right: -300px;
  bottom: -150px;
}
