body {
  background-color: #FFFFCC;
  margin: 0 auto;
}

#head {
  display: table;
  background-color: #E5C4EF;
  opacity: 0.8;
  height: 40px;
  width: 100%;
}

#head h1 {
  display: inline-block;
  font-size: 40px;
  padding: 5px 25px 5px 25px;
}

#head img {
  display: inline-block;
  padding: 25px 4px 5px 3px;
  width: 120px;
}

#head ul{
  display: table;
  float: right;
  margin: 0;
  list-style: none;
}

#head ul li {
  display: table-cell;
  padding: 50px 10px 25px 24px;
}

#head ul li a {
  color: #000000;
  text-decoration: none;
}

#head ul li a:hover {
  color: white;
}

.botoes-fotos-animais ul {
  display: table;
  list-style: none;
}

.botoes-fotos-animais ul li {
  display: table-cell;
}

.botoes-fotos-animais ul li a{
  display: table-cell;
  padding: 5px 50px 5px 10px;
}

.botoes-fotos-animais ul li a img{
  display: table-cell;
  width: 200px;
  height: 180px;
  border: 3px solid #E5C4EF;
}

.botoes-fotos-animais ul li a img:hover {
  border: 5px solid #000000;
}

figcaption {
  font-size: 15px;
  display: table-caption;
  caption-side: top;
  padding: 30px 50px 5px 5px;
}

.rodape a img{
  float: right;
  padding: 20px 5px 5px 10px;
  width: 130px;
}
